.main, p, h2 {
    text-align: center;
}

#input {
    margin: 25px;
    height: 45px;
    width: 120px;
    font-size: 28px;
}

#minus, #plus {
    height: 45px;
    width: 45px;
    font-size: 28px;
}

#randomSalsa, #randomBachata {
    background-color: red;
    border: none;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    color: white;
    margin: 5px;
}

#randomBachata {
    background-color: royalblue;
}

p {
    margin-top: 25px;
}